body{
    margin: 0;
    background-color: #001219;
    font-family: Arial, Helvetica, sans-serif;
    display : flex;
    flex-wrap: wrap;
}
.sticky {
	position: -webkit-sticky;
	position: sticky;
    top:0;
    z-index: 4;
    border: 3px solid #001219
}
nav ul{
    background-color: #6c757d;
    /* position: fixed; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
    opacity: 0.5;
    
}
nav ul li{
    margin: 1rem;
    
}
nav ul li a{
    color: floralwhite;
    text-decoration: none;
}
nav ul li a:hover{
    color: floralwhite;
    text-decoration: none;
	text-shadow: 0px 4px 7px floralwhite;
}
nav ul li:last-child:active{
    color: fuchsia;
}
header{
    display : flex;
    justify-content: space-between;
    padding: 1rem;
    background-color: #005f73;
    width: 100%;
}
address{
    background-color: #6c757d;
    padding: 20px;
    color: gainsboro;
    border-radius: 20px;
}
h1{
    text-align: center;
}
.corps{
    display : flex;
    justify-content: space-between;
    padding: 1rem;
    background-color: #6c757d;
    width: 100%;
}
ul{
    list-style-type: none;
    padding: 0;
    position:relative;
}
li{
    text-align: center;
}
.formations{
    display : flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0;
}
.formations li {
    width: 25%;
    background-color: gainsboro;
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
    min-height: 150px;
    z-index: 2;  
}
.formations li:last-child{
    margin: 0 auto;
}

.formations li:hover{
    opacity: 0;
    transition: 1s;
}     
.formationDos{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;   
    position:absolute;
    top:59px;
}
.formationDos li{
    width: 25%;
    background-color: #001219;
    margin: 20px;
    padding: 20px;
    color:floralwhite;
    border-radius: 20px;
    min-height: 150px;
    line-height: 150px;
}
.formationDos li:last-child{
    margin: 0 auto;
}
.formations li:hover .formationDos li{
    opacity: 1;
    transition: 1s;
}
.competences{
    display : flex;
    justify-content: space-between;
    padding: 1rem;
    background-color: #6c757d;
    margin: 10px;
}
.competences li{
    background-color: gainsboro;
    min-width: 100px;
    border-radius: 20px;
    min-height: 50px;
    padding: 10px;
}
.projet{
    background-color: gainsboro;
    border-radius: 20px;
    padding: 1rem;
    margin-top: 1rem;
}

